<html>
<head>
	<meta charset="UTF-8">
	<title>Inscrivez-vous</title>
	<%- include commoncss.ejs %>	
	<style>
	body{
		background-image: url('/images/gare.jpg');
	}
	.account{
		text-align: center;
    	margin-top: 30px;
	}
	.fb{
		display: inline-block;
		padding-left:10px;
	}
	</style>


</head>
<body>
	<div class="container">    

		<div id="signupbox" style="margin-top:200px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<div class="panel-title">S'incrire</div>
				</div>  
				<div class="panel-body" >
					<form id="signupform" class="form-horizontal" role="form" method="POST" action="/signup">

						<div id="signupalert" style="display:none" class="alert alert-danger">
							<p>Error:</p>
							<span></span>
						</div>

						<div class="form-group">
							<label for="email" class="col-md-3 control-label">Email</label>
							<div class="col-md-9">
								<input type="text" class="form-control" name="email" placeholder="Email">
							</div>
						</div>

						<div class="form-group">
							<label for="firstname" class="col-md-3 control-label">Prénom</label>
							<div class="col-md-9">
								<input type="text" class="form-control" name="firstname" placeholder="Prénom">
							</div>
						</div>
						<div class="form-group">
							<label for="lastname" class="col-md-3 control-label">Nom</label>
							<div class="col-md-9">
								<input type="text" class="form-control" name="lastname" placeholder="Nom">
							</div>
						</div>
						<div class="form-group">
							<label for="password" class="col-md-3 control-label">Mot de passe</label>
							<div class="col-md-9">
								<input type="password" class="form-control" name="password" placeholder="Password">
							</div>
						</div>

						<div class="form-group">
							<!-- Button -->                                        
							<div class="col-md-offset-3 col-md-9">
								<button id="btn-signup" type="submit" class="btn btn-info"><i class="fa fa-user-plus"></i> &nbsp S'inscrire</button>
								<!--<span style="margin-left:8px;">or</span>  -->
							</div>
						</div>

						<div style="border-top: 1px solid #999; padding-top:20px"  class="form-group">
							<div class="col-md-offset-3 col-md-9">
								<!-- <button id="btn-fbsignup" type="button" class="btn btn-primary"><i class="icon-facebook"></i>Créer un compte avec Facebook</button> -->
								<a id="btn-fbsignup" href="/auth/facebook" class="btn btn-primary"><i class="fa fa-facebook"></i><span class="fb">Créer un compte avec Facebook</span></a>
							</div>                                           
						</div>

						<div class="account"><a id="signinlink" href="/login" >J'ai déjà un compte</a></div>
					</form>
				</div>
			</div>
		</div> 
	</div>
	<%- include commonjs.ejs %>
	<script type="text/javascript">

		$(document).ready(function(){

			//$(".btn-fbsignup").on("click", function())

		});

	</script>
</body>
</html>
