{
	"development": {
		"app_port": 3012,
		"sql_host" : "localhost",
		"sql_port" : "5432",
		"sql_db_name" : "citysnap",
		"sql_user" : "postgres",
		"sql_password" : "DB_PASSWORD",
		"sql_connection" : "postgres://postgres:@localhost/citysnap",
		"base_domain": "dev.citysnap.fr:3000",
		"redis_host" : "localhost",
		"redis_port" : "6379"
	},
	"production": {
		"app_port": 3012,
		"sql_host" : "localhost",
		"sql_port" : "5432",
		"sql_db_name" : "citysnap",
		"sql_user" : "postgres",
		"sql_password" : "DB_PASSWORD",
		"sql_connection" : "postgres://postgres:@localhost/citysnap",
		"base_domain": "citysnap.fr",
		"redis_host" : "localhost",
		"redis_port" : "6379"
	}
}